%nta { font-family: "nta", Arial, sans-serif; }
%helvetica { font-family: Helvetica, Arial; }

body {
  @extend %nta;
  font-weight: normal;
  @include font-size(18);
  @include line-height(22);
}

::selection {
  color: white;
  background: black;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5 {
  margin: 0;
  padding: 0;
  font-weight: 600;
}

h1, .h1 {
  margin: 15px 0;
  @include font-size(24);
  @include line-height(28);

  @include respond-from($tablet) {
    margin: 30px 0;
    @include font-size(48);
    @include line-height(54);
  }
}

h2, .h2 {
  margin-bottom: 5px;
  @include font-size(24);
  @include line-height(28);

  @include respond-from($tablet) {
    margin: 5px 0 10px;
    @include font-size(32);
    @include line-height(38);
  }
}

h3, .h3 {
  margin: 10px 0;
  @include font-size(20);
  @include respond-from($tablet) {
    @include font-size(22);
    @include line-height(26);
  }
}

p {
  margin: 15px 0;
  @include line-height(28);
}

a {
  @include font-size(16);
  @include transition(all .2s ease-in-out);
}
