// INCLUDES
@import "includes/breakpoints";
@import "includes/functions";
@import "includes/mixin";

// BASE STYLES
@import 'base/vars';
@import 'base/typography';

// COLORS
$brand-blue: #005ea5;
$brand-grey: #454a4c;


// PAGE STYLES
html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }

.no-list-ui {
  @include no-list-ui;
}

a {
  color: $brand-grey;
  &:active {
    color: $brand-grey;
  }
}

.container {
  width: 100%;
  max-width: 1024px;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  padding: 30px 0;
}

.img {
  max-width: 100%;
}

label {
  @include font-size(18);
  @include line-height(28);
  a {
    display: block;
    padding-bottom :8px;
    @include respond-from(664px) {
      padding-left: 40px;
      display: inline-block;
    }
  }
}


.form {
  max-width: 600px;

  &-row {
    margin-bottom: 15px;
  }

  &-section {
    border: 0;
    padding: 0;
  }

  &-control {
    display: block;
    padding: 3px;
    border: 1px solid lighten($brand-grey, 50);
    &--short {
      width: 100px;
    }
  }
}

.button {
  @extend %nta;
  font-weight: 100;
  border: none;
  appearance: none;
  padding: 6px 12px 8px;
  background-color: red;
  -webkit-font-smoothing: antialiased;
  box-shadow: inset 0px -2px 0px 0px rgba(0,0,0,0.75);
  @include transition(all .2s ease-in-out);

  &[type="submit"] {
    color: white;
    background-color: green;
  }

  &:hover {
    background-color: darken(green, 3);
    box-shadow: inset 0px -3px 0px 0px rgba(0,0,0,0.75);
  }
}

.header {
  &-top {
    padding-top: 15px;
    border-top: 10px solid $brand-blue;
  }

  .hmrc-logo {
    display: block;
    @extend %helvetica;
    @include font-size(18);
    @include line-height(22);
    padding: 5px 0 5px 40px;
    background-repeat: no-repeat;
    background-position: 5px center;
    background-image: url(../img/hmrc_crest_18px.png);
    border-left: 2px solid blue;
  }
}

.footer {
  overflow: hidden;
  padding: 30px 0;
  @include font-size(16);
  color: lighten($brand-grey, 15);
  background-color: lighten($brand-grey, 60);
  border-top: 1px solid lighten($brand-grey, 35);

  @include respond-from($tablet) {
    padding: 50px 0;
  }

  &-nav {
    margin: 0 0 20px;
    
    &--list {
      padding: 0;
      margin: 0;
    }
    &--item {
      margin-right: 12px;
      display: inline-block;
      a { 
        text-decoration: underline;
        color: lighten($brand-grey, 15);
      }
    }
  }

  &-content {
    width: 100%;
    text-align: center;
    display: inline-block;
    @include respond-from(665px) {
      width: 60%;
      text-align: left;
    }
    @include respond-from($tablet) {
      width: 75%;
    }
  }

  &-copy{
    width: 100%;
    margin-top: 30px;
    text-align: center;
    display: inline-block;
    &--text {
      display: block;
    }

    @include respond-from(664px) {
      width: 39.5%;
      margin-top: 0;
      text-align: right;
    }

    @include respond-from($tablet) {
      width: 24.5%;
    }
  }

  .ogl {
    &-logo {
      display: inline;
      padding-right: 10px;
    }
    a { display: inline-block; }
  }
}