block vars

//- Mixin Jade
include ../includes/mixin.pug

doctype html
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
head
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible" content="IE=edge")
  meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
  title #{pageTitle} | Welcome to HMRC
  meta(name="description" content="")
  meta(name="msapplication-TileColor" content="#0079C2")
  meta(name="theme-color" content="#0079C2")
  meta(name="mobile-web-app-capable" content="yes")
  meta(name="apple-mobile-web-app-status-bar-style" content="#0079C2")

  link(rel='stylesheet' href='css/normalize.css' type="text/css" media="screen")
  link(rel='stylesheet' href='css/hmrc-fonts.css' type="text/css" media="screen")
  link(rel='stylesheet' href='css/style.css' type="text/css" media="screen")

  block scripts
    //-- favicons
    link(rel="icon" href="css/img/favicon-16.png" sizes="16x16" type="image/png")
    link(rel="icon" href="css/img/favicon-32.png" sizes="32x32" type="image/png")
    link(rel="icon" href="css/img/favicon-48.png" sizes="48x48" type="image/png")
    link(rel="icon" href="css/img/favicon-62.png" sizes="62x62" type="image/png")
    +ie('if gte IE 9')
      style.
        .gradient { filter: none; }

body(class=typeof pageClass != "undefined" ? pageClass : null)
  +ie('if lt IE 9')
    #top.browsehappy
      p You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/"> upgrade your browser</a> to improve your experience.

  block content

  //- Script
  include ../includes/script.pug

</html>
