body, .button {
  font-family: "nta", Arial, sans-serif; }

.header .hmrc-logo {
  font-family: Helvetica, Arial; }

body {
  font-weight: normal;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 22px;
  line-height: 1.375rem; }

::-moz-selection {
  color: white;
  background: black; }

::selection {
  color: white;
  background: black; }

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5 {
  margin: 0;
  padding: 0;
  font-weight: 600; }

h1, .h1 {
  margin: 15px 0;
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 28px;
  line-height: 1.75rem; }
  @media screen and (min-width: 768px) {
    h1, .h1 {
      margin: 30px 0;
      font-size: 48px;
      font-size: 3rem;
      line-height: 54px;
      line-height: 3.375rem; } }

h2, .h2 {
  margin-bottom: 5px;
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 28px;
  line-height: 1.75rem; }
  @media screen and (min-width: 768px) {
    h2, .h2 {
      margin: 5px 0 10px;
      font-size: 32px;
      font-size: 2rem;
      line-height: 38px;
      line-height: 2.375rem; } }

h3, .h3 {
  margin: 10px 0;
  font-size: 20px;
  font-size: 1.25rem; }
  @media screen and (min-width: 768px) {
    h3, .h3 {
      font-size: 22px;
      font-size: 1.375rem;
      line-height: 26px;
      line-height: 1.625rem; } }

p {
  margin: 15px 0;
  line-height: 28px;
  line-height: 1.75rem; }

a {
  font-size: 16px;
  font-size: 1rem;
  transition: all 0.2s ease-in-out; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

.no-list-ui {
  margin: 0;
  padding: 0;
  list-style-type: none; }
  .no-list-ui a {
    text-decoration: none; }

a {
  color: #454a4c; }
  a:active {
    color: #454a4c; }

.container {
  width: 100%;
  max-width: 1024px;
  padding: 0 15px;
  margin: 0 auto; }

.section {
  padding: 30px 0; }

.img {
  max-width: 100%; }

label {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 28px;
  line-height: 1.75rem; }
  label a {
    display: block;
    padding-bottom: 8px; }
    @media screen and (min-width: 664px) {
      label a {
        padding-left: 40px;
        display: inline-block; } }

.form {
  max-width: 600px; }
  .form-row {
    margin-bottom: 15px; }
  .form-section {
    border: 0;
    padding: 0; }
  .form-control {
    display: block;
    padding: 3px;
    border: 1px solid #c5c9cb; }
    .form-control--short {
      width: 100px; }

.button {
  font-weight: 100;
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 6px 12px 8px;
  background-color: red;
  -webkit-font-smoothing: antialiased;
  box-shadow: inset 0px -2px 0px 0px rgba(0, 0, 0, 0.75);
  transition: all 0.2s ease-in-out; }
  .button[type="submit"] {
    color: white;
    background-color: green; }
  .button:hover {
    background-color: #007100;
    box-shadow: inset 0px -3px 0px 0px rgba(0, 0, 0, 0.75); }

.header-top {
  padding-top: 15px;
  border-top: 10px solid #005ea5; }
.header .hmrc-logo {
  display: block;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 22px;
  line-height: 1.375rem;
  padding: 5px 0 5px 40px;
  background-repeat: no-repeat;
  background-position: 5px center;
  background-image: url(../img/hmrc_crest_18px.png);
  border-left: 2px solid blue; }

.footer {
  overflow: hidden;
  padding: 30px 0;
  font-size: 16px;
  font-size: 1rem;
  color: #697174;
  background-color: #e0e2e3;
  border-top: 1px solid #9da4a6; }
  @media screen and (min-width: 768px) {
    .footer {
      padding: 50px 0; } }
  .footer-nav {
    margin: 0 0 20px; }
    .footer-nav--list {
      padding: 0;
      margin: 0; }
    .footer-nav--item {
      margin-right: 12px;
      display: inline-block; }
      .footer-nav--item a {
        text-decoration: underline;
        color: #697174; }
  .footer-content {
    width: 100%;
    text-align: center;
    display: inline-block; }
    @media screen and (min-width: 665px) {
      .footer-content {
        width: 60%;
        text-align: left; } }
    @media screen and (min-width: 768px) {
      .footer-content {
        width: 75%; } }
  .footer-copy {
    width: 100%;
    margin-top: 30px;
    text-align: center;
    display: inline-block; }
    .footer-copy--text {
      display: block; }
    @media screen and (min-width: 664px) {
      .footer-copy {
        width: 39.5%;
        margin-top: 0;
        text-align: right; } }
    @media screen and (min-width: 768px) {
      .footer-copy {
        width: 24.5%; } }
  .footer .ogl-logo {
    display: inline;
    padding-right: 10px; }
  .footer .ogl a {
    display: inline-block; }
