include mixin
- var pfx = 'bem-'

//- Alert mixin
mixin alert(style)
  - var style = (typeof style === 'undefined') ? "default" : style
  div( class=[pfx+"alert", pfx+"alert-dismissable", pfx+"alert-" + style] )
    button.close( type="button", data-dismiss="alert" ) ×
    block

mixin alert2(style)
  - var style = (typeof style === 'undefined') ? "text" : style
  case style
    when "info"
      - icon = "fa-info-circle"
    when "warning"
      - icon = "fa-warning"
    when "error"
      - icon = "fa-exclamation-circle"
    when "success"
      - icon = "fa-check-circle"

  div( class=pfx+"alert__2-" + style )
    if style !== 'text'
      i.fa(class=[icon, pfx+"alert__2-icon"], aria-hidden="true")
    span(class=pfx+"alert__2-header")
      +lipsum(10, 'words')
    span(class=pfx+"alert__2-content")
      +lipsum(2, 'sentences')
      block



//- Button mixin
mixin bem-button(type, bemClass, href, iconClass, iconPos)
  - var bemClass = (typeof bemClass === 'undefined') ? "default" : bemClass
  - var href = (typeof href === 'undefined') ? "#" : href
  - var iconClass = (typeof iconClass === 'undefined') ? undefined : iconClass
  - var iconPos = (typeof iconPos === 'undefined') ? undefined : 'bem-btn__icon-'+iconPos
  #{type}( class=[pfx+"btn--" + bemClass, iconPos], href=href )
    if iconPos
      if iconPos === 'bem-btn__icon-left'
        i.bem-btn__icon(class='fa fa-'+iconClass)
        span.bem-btn__text
          block
      else
        span.bem-btn__text
          block
        i.bem-btn__icon(class='fa fa-'+iconClass)
    else
      span.bem-btn__text
        block

        

//- Button mixin
mixin button(style, type, size, href)
  - var style = (typeof style === 'undefined') ? "default" : style
  - var href = (typeof href === 'undefined') ? "#" : href
  case size
    when "large"
      - size = "btn-lg"
    when "small"
      - size = "btn-sm"
    when "mini"
      - size = "btn-xs"
  #{style}( class=[pfx+"btn", pfx+"btn-" + size, pfx+"btn-" + type], href=href )
    block

    //- a( class=[pfx+"btn", pfx+"btn-" + size, pfx+"btn-" + type], href=href )
    //- block


mixin input(type, name, id, addonClass)
  - var addonClass = (typeof addonClass === 'undefined')? null : addonClass
  span(class='bem-input__'+type, class=addonClass)
    label(for=id)
      input(type=type, value='value', name=name, id=id)
      span(class='bem-input__'+type+'-input')
      //- span(class='bem-input__'+type+'-label')
      block







//- Rating mixin
mixin rating(theme, value, classes)
  div(class=(typeof classes == 'undefined')?undefined:classes)
    .component__rating-wrap
      .component__rating-box(class="rating-"+theme)
        .component__rating-bg
        .component__rating-fill(style="width:"+value+"%;")

mixin rating-cta(theme, value, classes, steps)
  div(class=(typeof classes == 'undefined') ? undefined : classes)
    .component__rating-wrap
      .component__rating-box(class="rating-"+theme)
        .component__rating-bg
        .component__rating-fill(style="width:"+value+"%;")
        .component__rating-cta(data-steps=steps)
          input(type="hidden" name="ctaValue" id="ctaValue").component__rating-cta--input
          - for(var i = 1; i <= steps; i++)
            a.component__rating-cta--item(href="#"+i)
