footer.footer
  .container
    section.footer-wrap
      .footer-content
        nav.footer-nav
          ul.footer-nav--list
            li.footer-nav--item 
              a(href="#") Help
            li.footer-nav--item 
              a(href="#") Cookies
            li.footer-nav--item 
              a(href="#") Privacy policy
            li.footer-nav--item 
              a(href="#") Terms and conditions
        .ogl
          img.ogl-logo(src="img/ogl-logo.png")
          | All content is available under the 
          a(href="#") Open Government Licence v2.0
          | , except where otherwise stated
      .footer-copy
        img.footer-copy--img(src="img/govuk-crest.png")
        span.footer-copy--text &copy Crown Copyright