extends ./templates/template
block vars
  - var pageTitle = 'Renew your tax credits'
  - var pageClass = null

block content
  include ./includes/component-mixin
  include ./includes/header

  main.main
    .container
      div
        h1 Renew your tax credit
      
      section
        form.form
          fieldset.form-section
            legend.h3 Your details
            .form-row
              label
                | Your National Insurance Number
                a(href="#") Show me where to find this
                input.form-control.form-control--short(type="text")

            .form-row
              p Your tax credit renewal number is the 15 digit number on the bottom right hand corner of your annual declaration. Enter it below
              img.img(src="img/number-lense.png")

            .form-row
              label
                | Your tax credit renewal number
                input.form-control(type="text")

            .form-row
              button.button(type="submit") Next
            
      section.section
        .widget.get-help
          a(href="#") Get help with this page.

  include ./includes/footer
