$base-font: 16 !default;
@mixin font-size($font-size: $base-font){
  font-size: $font-size + px;
  font-size: ($font-size/$base-font)*1rem;
}

@mixin no-list-ui {
  margin: 0;
  padding: 0;
  list-style-type: none;
  a { text-decoration: none; }
}

@mixin button-bg($bg) {
  background: $bg;
  &:hover {
    background:darken($bg,8%);
    transition: all 0.3s ease;
  }
  &:active {
    background:darken($bg,25%);
  }
}

@mixin line-height($heightValue: $base-font){
  line-height: $heightValue + px; //fallback for old browsers
  line-height: ($heightValue/$base-font) + rem;
}

@mixin box-sizing($box-model) {
  -webkit-box-sizing: $box-model; // Safari <= 5
     -moz-box-sizing: $box-model; // Firefox <= 19
          box-sizing: $box-model;
}

@mixin transition($args...) {
  transition: $args;
}

@mixin noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


@mixin optional-at-root($sel) {
  @at-root #{if(not &, $sel, selector-append(&, $sel))} { 
    @content;
  }
}

@mixin placeholder {
  @include optional-at-root('::-webkit-input-placeholder') { @content; }
  @include optional-at-root(':-moz-placeholder') { @content; }
  @include optional-at-root('::-moz-placeholder') { @content; }
  @include optional-at-root(':-ms-input-placeholder') { @content; }
}

@mixin edge2edge-reset {
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
}

@mixin centering-ghost {
  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em; /* Adjusts for spacing */
  }
}

@mixin circle($width, $color, $border: null) {
  width: $width;
  height: $width;
  background: $color;
  -webkit-border-radius: $width/2;
     -moz-border-radius: $width/2;
          border-radius: $width/2;
  @if ($border) { border: $border; }
}


@mixin triangle($size, $colour, $direction: "up") {
	width: 0;
	height: 0;

	@if $direction == "up" {
		border-top: none;
		border-left: $size solid transparent;
		border-right: $size solid transparent;
		border-bottom: $size solid $colour;
	}
	@else if $direction == "down" {
		border-bottom: none;
		border-left: $size solid transparent;
		border-right: $size solid transparent;
		border-top: $size solid $colour;
	}
	@else if $direction == "left" {
		border-left: none;
		border-top: $size solid transparent;
		border-bottom: $size solid transparent;
		border-right:$size solid $colour;
	}
	@else if $direction == "right" {
		border-right: none;
		border-top: $size solid transparent;
		border-bottom: $size solid transparent;
		border-left: $size solid $colour;
	}
}

%transparent-background {
  background-color: transparent;
  zoom: 1;
}

@mixin transparent-bgcolor($color, $alpha) {
  $rgba: rgba($color, $alpha);
  $ie-hex-str: ie-hex-str($rgba);
  @extend %transparent-background;
  background-color: $rgba;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#{$ie-hex-str},endColorstr=#{$ie-hex-str});
}

@mixin ng-gradient($top, $bottom) {
  background: $top; /* Old browsers */
  background: -moz-linear-gradient(top,  $top 0%, $bottom 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$top), color-stop(100%,$bottom)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  $top 0%,$bottom 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  $top 0%,$bottom 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  $top 0%,$bottom 100%); /* IE10+ */
  background: linear-gradient(to bottom,  $top 0%,$bottom 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

@mixin ng-gradient-radial($start, $start-opacity, $stop, $stop-opacity) {
  background: rgba($start,$start-opacity);
  background: -moz-radial-gradient(center, ellipse cover, rgba($start,$start-opacity) 0%, rgba(darken($start,5),$start-opacity) 17%, rgba($stop,$stop-opacity) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba($start,$start-opacity)), color-stop(17%, rgba(darken($start,5),$start-opacity)), color-stop(100%, rgba($stop,$stop-opacity)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba($start,$start-opacity) 0%, rgba(darken($start,5),$start-opacity) 17%, rgba($stop,$stop-opacity) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba($start,$start-opacity) 0%, rgba(darken($start,5),$start-opacity) 17%, rgba($stop,$stop-opacity) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba($start,$start-opacity) 0%, rgba(darken($start,5),$start-opacity) 17%, rgba($stop,$stop-opacity) 100%);
  background: radial-gradient(ellipse at center, rgba($start,$start-opacity) 0%, rgba(darken($start,5),$start-opacity) 17%, rgba($stop,$stop-opacity) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$start', endColorstr='$stop', GradientType=1 );
}

@mixin clearfix-micro() {
  & { *zoom: 1; }
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after { clear: both; }
}

@mixin abs-position ($top: auto, $right: auto, $bottom: auto, $left: auto) {
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  position: absolute;
}

@mixin text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}

@mixin v-align {
  font-family: FontAwesome;
  position: absolute;
  top: 50%;
  margin-top: -10px;
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
}

@mixin svg-bg($name, $path) {
  background-image: url('#{$path}/#{$name}.png');
  background-image: none, url('#{$path}/#{$name}.svg');
}
